.addTodo {
  .row {
    .addItem {
      position: fixed;
      bottom: 20px;
      right: 20px;

      height: 50px;
      width: 50px;
      background: deepskyblue;
      border-radius: 50%;
      color: white;
      transition: .2s ease-in-out;
      box-shadow: 3px 3px 15px #000;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 #000;
        transform: scale(.95);
      }
    }
  }
}
