<app-add-todo></app-add-todo>
<app-edit-todo></app-edit-todo>

<div class="container items">
    <div class="row mt-3 justify-content-center">
        <div class="col-11 col-md-8 item d-flex align-items-center px-0 my-2" *ngFor="let todo of todos" id="{{ todo._id }}">
            <div class="action d-flex justify-content-around align-items-center" [ngClass]="{active: openActionItem}">
                <i class="fas fa-pencil-alt" [ngClass]="{opacity: openActionItem}" (click)="editTodo(todo)"></i>
                <i class="far fa-trash-alt" data-toggle="modal" [attr.data-target]="'#modal-' + todo._id" [ngClass]="{opacity: openActionItem}"></i>
            </div>

            <div class="content d-flex justify-content-around align-items-center">
                <div class="burgerMenu" (click)="onToggleActionItem()">
                    <div class="burgerMenuItem" [ngClass]="{'item--1': openActionItem}"></div>
                    <div class="burgerMenuItem" [ngClass]="{'item--2': openActionItem}"></div>
                    <div class="burgerMenuItem" [ngClass]="{'item--3': openActionItem}"></div>
                </div>
                <div class="content">
                    <p>{{ todo.name }}</p>
                    <small>TODO before {{ todo.due_date | date: 'MMMM - dd - yyyy   h:mm a' }}</small>
                </div>
            </div>

            <div *ngIf="todo.completed; then completedTrue else completedFalse"></div>
            <ng-template #completedTrue>
                <div class="check d-flex justify-content-around align-items-center bg-green">
                    <i class="fas fa-check"></i>
                </div>
            </ng-template>

            <ng-template #completedFalse>
                <div class="check d-flex justify-content-around align-items-center" [ngClass]="{'bg-green': checked}" (click)="onCheckedTodo()">
                    <i class="fas fa-check text-secondary"></i>
                </div>
            </ng-template>


            <!--Modal-->
            <div class="modal fade" id="modal-{{ todo._id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete this task ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" (click)="deleteTodo(todo._id)" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
