header {
  height: 60px;
  background: linear-gradient(#137893, #1CB5E0 70%);
  box-shadow: 0 5px 50px #000;
  border-radius: 0 0 5px 5px;

  .row {
    height: 100%;

    h1 {
      text-transform: uppercase;
      font-size: 2.5em;
      color: white;
      margin: 0;
    }
  }
}


